version: '3.9'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - web
    restart: unless-stopped

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: HW_30
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 2000
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    restart: unless-stopped

  web:
    build: .
    env_file:
      - .env
    command: sh -c "python3 manage.py migrate && python3 manage.py runserver 0.0.0.0:8000"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    expose:
      - "8000"
    environment:
      - DB_NAME=HW_30
      - DB_USER=postgres
      - DB_PASSWORD=2000
      - DB_HOST=db
      - DB_PORT=5432
      - SECRET_KEY=django-insecure-test-key-123
      - DEBUG=True
      - ALLOWED_HOSTS=*
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis
    restart: unless-stopped

  celery:
    build: .
    env_file:
      - .env
    command: celery -A config worker --loglevel=info
    environment:
      - DB_NAME=HW_30
      - DB_USER=postgres
      - DB_PASSWORD=2000
      - DB_HOST=db
      - DB_PORT=5432
      - SECRET_KEY=django-insecure-test-key-123
      - DEBUG=True
      - ALLOWED_HOSTS=*
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis
    restart: unless-stopped

  celery-beat:
    build: .
    env_file:
      - .env
    command: celery -A config beat --loglevel=info
    environment:
      - DB_NAME=HW_30
      - DB_USER=postgres
      - DB_PASSWORD=2000
      - DB_HOST=db
      - DB_PORT=5432
      - SECRET_KEY=django-insecure-test-key-123
      - DEBUG=True
      - ALLOWED_HOSTS=*
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis
    restart: unless-stopped

volumes:
  postgres_data:
  static_volume:
  media_volume: